.movie-page {
  color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 2rem auto;
}

.movie-page svg {
  font-size: 1.5rem;
  color: #f7d354;
}

.movie-page .movie-card-items {
  text-align: center;

  padding-top: 2.5rem;
  border-radius: 1.8rem;
  margin-bottom: 2.5rem;
  backdrop-filter: blur(15px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);

  background-image: linear-gradient(
    90.35deg,
    #4ac08f 2.49%,
    #2fb4ff 101.2%,
    #2fb4ff 101.2%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.movie-page .movie-card img,
.movie-page .movie-card h2,
.movie-page .movie-card p {
  margin-bottom: 1rem;
}

.movie-page .movie-card img {
  border-radius: 1.25rem;
}

.movie-page .movie-card h2 {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.movie-page .movie-card p {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}

.tagline {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 1.5rem;
  padding: 2rem;
  border-radius: 1.8rem;
  margin-bottom: 2.5rem;
  backdrop-filter: blur(15px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.info:hover {
  background: rgba(255, 255, 255, 0.05);
}

.info h3 {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;

  background-image: linear-gradient(
    90.35deg,
    #4ac08f 2.49%,
    #2fb4ff 101.2%,
    #2fb4ff 101.2%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.description {
  text-align: justify;
}

.description p {
  line-height: 1.4;
}
